@import "../omarchy/current/theme/waybar.css";

* {
    background-color: transparent;
    color: @foreground;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    font-family: 'BitstromWera Nerd Font';
    font-size: 12px;
}

#workspaces button {
    all: initial;
    padding: 0;
    margin: 0;
}

#workspaces button.empty {
    opacity: 0.3;
}

#workspaces button.active {
    color: @accent;
    background-color: @background;
    border-radius: 13px;
    border-top: 1px;
    border-bottom: 1px;
    min-width: 25px;
    background-size: 200% 200%;
    transition: all 0.3s ease-in-out;
    /*opacity: 1.0;*/
}

window#waybar.empty #window {
    background: transparent;
    opacity: 0; 
}
#custom-omarchy,
#temperature,
#cpu,
#memory,
#network#speed,
#workspaces button,
#custom-update,
#window,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-screenrecording-indicator,
#custom-expand-icon,
#battery {
  min-width: 13px;
  font-family: 'BitstromWera Nerd Font';
  margin: 2.5px;
  background-color: @background;
  color: @foreground;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 13px;
  padding: 0;
  padding-right: 3.5px;
  padding-left: 3.5px;
}

#network {
  padding-left: 6.5px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 15px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}

#custom-notification {
    font-family: 'BitstromWera Nerd Font';
}
