@define-color base #081512;
@define-color background #0F251F;

@define-color text #A6B5B1;
@define-color subtext #99A8A4;

@define-color selected #1E9177;
@define-color secondary #167A63;
@define-color error #933636;
@define-color border #1B6352;

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 36px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @base;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid @border;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @text;
}

.box {
  background: @background;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid @border;
}

.search-container {
  border-radius: 10px;
  border: 2px solid @border;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  background: @base;
  color: @text;
  caret-color: @text;
  padding: 10px;
}

.list {
  color: @text;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: @secondary;
  border-radius: 10px;
  padding: 10px;
  color: @base;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@selected, 0.4);
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border-top: 1px solid @selected;
  padding: 10px;
  border-radius: 10px;
  color: @text;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.primarytooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid @selected;
  font-size: 12px;
  color: @selected;
}

.keybind {
  color: @subtext;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.error {
  padding: 10px;
  background: @error;
  color: @base;
}

:not(.calc).current {
  font-style: italic;
}
